@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  min-height: 100vh;
}

a {
  color: #2990f0;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.25s ease-out;
}

a:hover {
  color: #3eb2ff;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
  background-color: #25a8ff;
}

.siteHeader > .navLogo {
  font-size: 16pt;
  font-weight: bold;
  padding: 0.25rem 0;
  color: #013558;
}

.siteHeader > .navLogo:hover {
  color: #013558;
}

nav.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.siteHeader > a {
  color: white;
}

.siteHeader > nav.headerNav > a {
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  margin: 0.333rem;
  width: 10em;
  text-align: center;
}
.siteHeader > nav.headerNav > .swsh {
  border-radius: 1em;
  border-color: #38446b;
  background: rgb(254,17,152);
  background: linear-gradient(118deg, #fe1198 0%, #35b7ff 100%);
}
.siteHeader > nav.headerNav > .visc {
  border-radius: 1em;
  border-color: #ffe555;
  background: #ce3226;
  background: linear-gradient(118deg, #ff3b2d 0%, #801fb8 100%);
}

footer {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}