.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 50%;
  margin: 4rem auto;
}

.homeLink {
  display: block;
  position: relative;
  height: 200px;
  width: calc(200px * 16 / 9);
}

.homeLink img {
  width: 100%;
}

.homeNavigation {
  width: 100%;
}

.homeNavigation a {
  display: inline-block;
  margin: 0.5rem;
}