.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, 68px);
    width: 100%;
    justify-content: center;
    gap: 1px;
}

.tableEntry {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    cursor: pointer;
}

.tableEntryNumber {
    font-size: 32px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.125);
    position: absolute;
}

.tableEntry.no .tableEntryNumber {
    color:rgba(255, 255, 255, 0.1)
}

.tableEntry.guaranteed .tableEntryNumber {
    color:rgba(255, 255, 255, 0.3)
}

.unknown {
    background-color: #aaa;
}

.confirmed {
    background-color: lime;
}

.guaranteed {
    background-color: blue;
    color: white;
}

.possible {
    background-color: yellow;
}

.not-available {
    background-color: red;
}

.no {
    background-color: #333;
    color: white;
}

.navigator {
    display: flex;
    justify-content: space-evenly;
    font-size: 14pt;
    align-items: center;
    width: 30%;
    margin: 1rem;
}

/** LEGEND/KEY **/
.legend {
    width: 90%;
    font-size: 14pt;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

.legend > div {
    display: inline-block;
    padding: 0.5rem;
    width: 13em;
    font-weight: bold;
    margin: 0.25rem;
    border-radius: 35px;
    cursor: pointer;
    user-select: none;
}

.legend > div.filtered {
    opacity: 0.333;
}

.legend .amountLabel {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
}

/** SUMMARY **/
.summaryWindow {
    width: 66vw;
    max-width: 600px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid black;
    z-index:2;
}

.summary {
    display: flex;
    border-bottom: 3px double gray;
}

.summary > div, .summaryLabel, .summaryPrompt, .summaryNotes {
    padding: 5px;
    vertical-align: middle;
}

.summaryDex {
    width: 3em;
    border-right: 1px solid gray;
}

.summaryName {
    width: 30ch;
}

.summaryStatus {
    flex-grow: 1;
    font-weight: bold;
}

.summaryNotes {
    padding: .5em;
    box-sizing: border-box;
    text-align: justify;
}

.summaryNotes p {
    margin: 0;
}

.summaryPrompt {
    width: 100%;
}

.summaryPrompt {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #ddd;
}

/** GAME SPECIFIC **/
/* Sword & Shield */
.swsh-base {
    background-color: #22acff;
}
.swsh-armor {
    background-color: #dfdf41;
}

.swsh-crown {
    background-color: #2bb673;
}

.swsh-other {
    background-color: #ff2a6e;
}